<h1>Results</h1>

<% @results.each do |r| %>
  <div>
      <p>
        <strong>Post:</strong>
        <%= r.post %>
        User: <%= r.user.display_name %>
      </p>
      <p>
        <strong>User:</strong>
        <%= r.user %>
      </p>


  </div>
<% end %>





