<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%
=begin%>
 <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>
  </thead>
<%
=end%>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

</table>

<%= link_to "New post", new_post_path %>
